<h1>Heroes <small>Marvel and DC Comics</small></h1>
<hr>
<div class="card" style="width: 18rem;">
    <img src="/assets/img/wolverine.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" style="text-align: center;">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://moodle.utmachala.edu.ec/cursosvirtuales/login/index.php" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer">
<small class="text-muted">fecha</small>
    </div>
    <div class="d-grip gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-danger">Danger</button>

    </div>
  </div>